form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.matching_option_item{
    display: flex;
    height: 30%;
    align-items: center;
}

button{
    height: 30%;
    width: 100%;
}

@media screen and (min-width:768px){
    .matching_option_item{
        flex-direction: row;
        height: 30%;
        justify-content: space-between;
    }

    .matching_option_item > * {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .matching_option_item{
        flex-direction: column;
        align-items: start;
    }
    input{
        width: 100%;
    }
}