.modal_container{
    
    display: flex;
    flex-direction: column; /* flexbox로 설정 시, 가로로 정렬되기 때문에 세로로 재정렬 */
    
    align-items: center; /* 세로로 가운데 정렬하기 */

    position: absolute; /* 모달창이 다른 요소를 덮어씌우기 위해 */

    height: 700px;
    width: 800px;
    
    background-color: #1d1f21;

    border-radius: 10px;

}


.file_size{
    height: 500px;
    width: 500px;
    
}

.like_size{
    height: 50px;
    width: 50px;
}

.close_btn{
    margin-left: 780px;
}