
.container{
    background-color: #1d1f21;
    color: white;
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;


}

.title_h3{
    display: inline;
    margin-right: 20px;
}

.content_h3{
    display: inline;
    margin-right: 20px;
}

.container_input{

    margin-top: 30px;

        .title_input{
            
            border-radius: 10px;

            width: 630px;
            height: 30px;
            
            margin-bottom: 30px;
            margin-right: 50px;
        }

        .content_textarea{
            border-radius: 10px;

            width: 630px;
            height: 30px;

            resize: none;
        }

}

.container_files{

    display: flex; /* flex는 기본적으로 줄바꿈을 안함 */
    justify-content: left;

    overflow-y: auto;
        .thumbnail_div{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            margin-right: 100px;
        }
        .highlight_div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .file_input{
            margin-bottom: 20px;
        }

        .size_img{
            height: 300px;
            width: 300px;
        }
}

.upload_button{
    margin-left: 50px;

    height: 37px;
    width: 100px;


    
    border-radius: 10px;
}