@font-face {
    font-family: 'Jalnan';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
  }

.dashboard_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: black;
    color: black;
    opacity: 0.5;
    

    width: 1366px;
    height: 768px;
    /* width: 70vw;
    height: calc(70vw / (16 / 9)); */


    border-radius: 15px;
    font-family: 'Jalnan';
    font-size: 20px;
}

.dashboard_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 100%;
    border-top-left-radius: 15px; /* 위쪽 왼쪽 모서리 둥글게 */
    border-top-right-radius: 15px; /* 위쪽 오른쪽 모서리 둥글게 */

    color: #6e6e73;
    border: 1px solid #ccc;
}

.dashboard_top_logo_container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.dashboard_top_logo {
    width: 100px;
    padding-left: 20px;

    border: 1px solid #ccc;
}

.dashboard_top_identifier {
    flex: 2;
    
    text-align: center;
    font-size: 20px;
    font-weight: bold;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
}

.dashboard_top_logout {
    flex: 1;

    justify-content: flex-end;
    padding-right: 20px;
    cursor: pointer;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
}


.dashboard_middle {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    color: #6e6e73;
    flex: 6;
    width: 100%;
    border: 1px solid #ccc;
}

.dashboard_middle_left {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #6e6e73;
    flex: 3;
    height: 100%;

}

.dashboard_middle_left_content {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
}

.dashboard_middle_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    color: #6e6e73;
    flex: 7;
    height: 100%;
}

.dashboard_middle_right_menu_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    border: 1px solid #ccc;
}

.dashboard_middle_right_menu {
    text-align: center;
    flex: 1;
    cursor: pointer;
    border: 1px solid #ccc;
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard_bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    border-bottom-left-radius: 15px; /* 아래쪽 왼쪽 모서리 둥글게 */
    border-bottom-right-radius: 15px; /* 아래쪽 오른쪽 모서리 둥글게 */

    color: #6e6e73;
}

.dashboard_bottom_menu {
    flex: 1;
    text-align: center;
    cursor: pointer;

    border: 1px solid #ccc;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}